<table id="attribute-test">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Timestamp</td>
      <td>{{ timestamp }}</td>
    </tr>
    <tr>
      <td>Method</td>
      <td>{{ request.method }}</td>
    </tr>
    <tr>
      <td><code>active_element</code></td>
      <td>{{ request.htmx.active_element }}</td>
    </tr>
    <tr>
      <td><code>active_element_name</code></td>
      <td>{{ request.htmx.active_element_name }}</td>
    </tr>
    <tr>
      <td><code>active_element_value</code></td>
      <td>{{ request.htmx.active_element_value }}</td>
    </tr>
    <tr>
      <td><code>current_url</code></td>
      <td>{{ request.htmx.current_url }}</td>
    </tr>
    <tr>
      <td><code>event_target</code></td>
      <td>{{ request.htmx.event_target }}</td>
    </tr>
    <tr>
      <td><code>is_htmx</code></td>
      <td>{{ request.htmx.is_htmx }}</td>
    </tr>
    <tr>
      <td><code>prompt</code></td>
      <td>{{ request.htmx.prompt }}</td>
    </tr>
    <tr>
      <td><code>target</code></td>
      <td>{{ request.htmx.target }}</td>
    </tr>
    <tr>
      <td><code>trigger</code></td>
      <td>{{ request.htmx.trigger }}</td>
    </tr>
    <tr>
      <td><code>trigger_name</code></td>
      <td>{{ request.htmx.trigger_name }}</td>
    </tr>
  </tbody>
</table>
