<table id="attribute-test">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Timestamp</td>
      <td>{{ timestamp }}</td>
    </tr>
    <tr>
      <td><code>method</code></td>
      <td>{{ request.method }}</td>
    </tr>
    <tr>
      <td><code>current_url</code></td>
      <td>{{ request.htmx.current_url }}</td>
    </tr>
    <tr>
      <td><code>prompt</code></td>
      <td>{{ request.htmx.prompt }}</td>
    </tr>
    <tr>
      <td><code>target</code></td>
      <td>{{ request.htmx.target }}</td>
    </tr>
    <tr>
      <td><code>trigger</code></td>
      <td>{{ request.htmx.trigger }}</td>
    </tr>
    <tr>
      <td><code>trigger_name</code></td>
      <td>{{ request.htmx.trigger_name }}</td>
    </tr>
  </tbody>
</table>
