{% load htmx %}
<ul>
    {% for p in object_list %}
        <li>{{ p.first_name }} {{ p.last_name }}</li>
    {% empty %}
        <li>No people yet.</li>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" hx-get="?page=1" {% htmx_attrs push_url=True %}>&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" hx-get="?page={{ page_obj.previous_page_number }}" {% htmx_attrs push_url=True %}>previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" hx-get="?page={{ page_obj.next_page_number }}" {% htmx_attrs push_url=True %}>next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" hx-get="?page={{ page_obj.paginator.num_pages }}" {% htmx_attrs push_url=True %}>last &raquo;</a>
        {% endif %}
    </span>
</div>
